<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./welcome.component.css">
</head>
<body>
    <div class="heading">
        <h1>Registered Users List</h1>
    </div>
    
    <table>
        <tr>
            <th>name</th>
            <th>email</th>
            <th>city</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        
        <tr *ngFor="let user of registeredUsers">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.city}}</td>
            <td><button class="btn update-btn" (click)="updateUser(user.userId)" >update</button></td>
            <td><button class="btn delete-btn" (click)="deleteUser(user.userId)" >delete</button></td>
        </tr>
    </table>

    <button class="btn logout-btn" (click)="logout()">logout</button>
</body>
</html>